<% @posts.each do |post| %>
	<div class="post-box">

		<h1><%= link_to post.title, post %></h1>

		<p>
			<%= post.content %>
		</p>

	</div>

	<div class="comment-box">
		<label>Comments</label>
		<% post.post_comments.each do |comment| %>
			<label><%= comment.author %>: <%= commet.content %></label>
		<% end %>
	</div>
<% end %>