<% @posts.each do |post| %>
	<div class="post-box">

		<div class="post-title">
			<%= post.title %>
		</div>

		<p>
			<%= post.content %>
		</p>
		<div class="post-divider"></div>
	</div>
<% end %>