.content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 46px;
	width: 940px;
}

hr {
	border-bottom-color: #C8C8C8;
	border-bottom-width: 4px;
	border-radius: 4px;
}

.post-box {
	background-color: #c8c8c8;
	border-radius: 20px;
}

.post-title {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none !important;
}

.post-content-preview {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	&:hover {

	}
}
