@import "variables";

body 			  { background-image: url("furley_bg.png")}
h1 				  { color: $theme-color-a; }
.sidebar-li		  { list-style-type: none; padding-bottom: 45px; }

#sidebar 		  { position: fixed; border-right: 3px solid $theme-color-b; height: 100%; }
#sidebar-content  { margin: 0px auto; text-align: center; padding-top: 38px; }
#sidebar-divider  { margin: 40px 10px 38px 10px; border-radius: 3px; border-width: 3px; border-color: $theme-color-b; }

a.sidebar_button   { border-radius: 30px; border: 3px solid $theme-color-a; padding: 7px 15px 7px 15px; text-decoration: none; color: $theme-color-e;
					 margin: 15px 0px 15px 0px; font-size: 18px;
		  &:visited { text-decoration: none; border-color: $theme-color-a; color: $theme-color-e;}
		  &:hover   { text-decoration: none; border-color: $theme-color-b; color: $theme-color-a; border-width: 6px; }}



body { float: left; }