$link-border-color:  #F8F8F8;
$link-border-color-hover: #777;

$theme-color-a: #151C21;
$theme-color-b: #D41200; //#A33724;
$theme-color-c: #FFFFFF;
$theme-color-d: #BFBFBF;
$theme-color-e: #302825;