<div id="sidebar-content">
	<h1>Gabriel Peal</h1>
	<hr id="sidebar-divider">
	<ul>
		<li class="sidebar-li">
			<%= link_to "@goorioles747", "http://twitter.com/#!/goorioles747", :class => "sidebar_button" %>
		</li>
		<li class="sidebar-li">
			<%= link_to "Photography", "http://gpealphotography.com", :class => "sidebar_button" %>
		</li>
		<li class="sidebar-li">
			<%= link_to "Contact", "mailto:prototype1010@gmail.com", :class => "sidebar_button" %>
		</li>
	</ul>
</div>

